<div class="page-container fade-in">

  <div class="page-header">
    <div class="header-text">
      <h1>
        <span class="material-icons header-icon-main">settings_suggest</span>
        Gestión de Catálogos
      </h1>
      <p class="page-description">Administre las opciones desplegables (catálogos) que se usan en todo el sistema.</p>
    </div>
  </div>

  <div class="tabs-container">
    <button class="tab-button" [class.active]="tabActiva === 'categorias'" (click)="cambiarTab('categorias')">
      <span class="material-icons">category</span> Categorías
    </button>
    <button class="tab-button" [class.active]="tabActiva === 'carreras'" (click)="cambiarTab('carreras')">
      <span class="material-icons">school</span> Carreras
    </button>
    <button class="tab-button" [class.active]="tabActiva === 'facultades'" (click)="cambiarTab('facultades')">
      <span class="material-icons">account_balance</span> Facultades
    </button>
    <button class="tab-button" [class.active]="tabActiva === 'idiomas'" (click)="cambiarTab('idiomas')">
      <span class="material-icons">language</span> Idiomas
    </button>
    <button class="tab-button" [class.active]="tabActiva === 'jornadas'" (click)="cambiarTab('jornadas')">
      <span class="material-icons">schedule</span> Jornadas
    </button>
    <button class="tab-button" [class.active]="tabActiva === 'modalidades'" (click)="cambiarTab('modalidades')">
      <span class="material-icons">devices</span> Modalidades
    </button>
    <button class="tab-button" [class.active]="tabActiva === 'roles'" (click)="cambiarTab('roles')">
      <span class="material-icons">shield</span> Roles
    </button>

    <button class="tab-button" [class.active]="tabActiva === 'provincias'" (click)="cambiarTab('provincias')">
      <span class="material-icons">map</span> Provincias
    </button>
    <button class="tab-button" [class.active]="tabActiva === 'ciudades'" (click)="cambiarTab('ciudades')">
      <span class="material-icons">location_city</span> Ciudades
    </button>

  </div>

  <div class="tab-content fade-in">
    <app-categorias *ngIf="tabActiva === 'categorias'"></app-categorias>
    <app-carreras *ngIf="tabActiva === 'carreras'"></app-carreras>
    <app-facultades *ngIf="tabActiva === 'facultades'"></app-facultades>
    <app-idiomas *ngIf="tabActiva === 'idiomas'"></app-idiomas>
    <app-jornadas *ngIf="tabActiva === 'jornadas'"></app-jornadas>
    <app-modalidades *ngIf="tabActiva === 'modalidades'"></app-modalidades>
    <app-roles *ngIf="tabActiva === 'roles'"></app-roles>

    <app-provincias *ngIf="tabActiva === 'provincias'"></app-provincias>
    <app-ciudades *ngIf="tabActiva === 'ciudades'"></app-ciudades>


  </div>
</div>
