<div class="container">
  <h2>Mis Postulaciones</h2>
  <div class="postulaciones-list">
    <div class="card">
      <div class="card-header">
        <h3>Nombre de la Oferta</h3>
      </div>
      <div class="card-body">
        <p><strong>Fecha:</strong> 23/23/34</p>
        <p><strong>Estado:</strong> aso</p>
        <div class="extra-info">
          <!-- Asumir info completa de oferta -->
          <p><strong>Descripción:</strong>sdf </p>
          <p><strong>Modalidad:</strong> sdfsdf</p>
          <p><strong>Categoría:</strong> sdfs</p>
          <p><strong>Jornada:</strong> sdf</p>
          <p><strong>Salario Promedio:</strong> sdfsdf</p>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-info">
          Ver Info Completa
        </button>
        <button class="btn btn-danger" >Cancelar Postulación</button>
      </div>
    </div>
  </div>
</div>
