<div class="container">
  <h2>Búsqueda de Empleo</h2>
  <div class="ofertas-list">
    <div  class="card">
      <div class="card-header">
        <h3>Titulo Oferta</h3>
      </div>
      <div class="card-body">
        <p> oferta descripcion </p>
        <div class="extra-info">
          <p><strong>Modalidad:</strong> oferta modalidad</p>
          <p><strong>Categoría:</strong> oferta categoria </p>
          <p><strong>Jornada:</strong> oferta jornada </p>
          <p><strong>Salario Promedio:</strong> oferta salarioPromedio </p>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" >Aplicar</button>
        <button class="btn btn-secondary">Guardar en Favoritos</button>
        <button class="btn btn-info" >
          Expandir Info
        </button>
      </div>
    </div>
  </div>
</div>
