<div class="profile-container">
  <div class="content-grid">

    <div class="sidebar-column">
      <app-sidebar-perfil
        [perfil]="perfil"
        [rol]="rol"
        [completitudPerfil]="completitudPerfil"
        [fotoUrl]="fotoUrl"
        (fotoSeleccionada)="seleccionarImagen($event)">
      </app-sidebar-perfil>
    </div>

    <div class="form-column">

      <app-form-datos-personales
        [perfil]="perfil"
        [provincias]="provincias"
        [ciudades]="ciudades"
        (cambioProvincia)="onProvinciaChange()"
        (inputChange)="onInputChange()"
        (guardar)="guardarInformacionPersonal()">
      </app-form-datos-personales>

      <app-seccion-academica
        [titulos]="perfil.titulos"
        [facultades]="facultades"
        [carrerasNuevoTitulo]="carrerasNuevoTitulo"
        (onCambioFacultad)="cargarCarrerasPorFacultad($event)"
        (onGuardarAcademica)="guardarAcademicaDesdeHijo($event)"
        (onEliminar)="eliminarTitulo($event.index, $event.id)"
        (onVerPdf)="verPdf($event)">
      </app-seccion-academica>

      <app-seccion-idiomas
        [idiomas]="perfil.idiomas"
        [idiomasDisponibles]="idiomasDisponibles"
        [niveles]="niveles"
        (onGuardarIdioma)="guardarIdiomaDesdeHijo($event)"
        (onEliminar)="eliminarIdioma($event.index, $event.id)"
        (onVerPdf)="verPdf($event)">
      </app-seccion-idiomas>

      <app-seccion-experiencia
        [experiencias]="perfil.experiencias"
        [provincias]="provincias"
        [ciudadesExp]="ciudadesExp"
        [categorias]="categorias"
        [cargosDisponibles]="cargosDisponibles"
        [empresasDisponibles]="empresasDisponibles"
        (onBuscarCargo)="buscarCargoDinamicoPadre($event)"
        (onBuscarEmpresa)="buscarEmpresaDinamicaPadre($event)"
        (onCambioProvincia)="cargarCiudadesExpPadre($event)"
        (onCrearCargo)="crearCargoDesdeHijo($event)"
        (onCrearEmpresa)="crearEmpresaDesdeHijo($event)"
        (onGuardarExperiencia)="guardarExperienciaDesdeHijo($event)"
        (onEliminar)="eliminarExperiencia($event.index, $event.id)"
        (onVerPdf)="verPdf($event)">
      </app-seccion-experiencia>

      <app-seccion-cursos
        [cursos]="perfil.cursos"
        (onGuardarCurso)="guardarCursoDesdeHijo($event)"
        (onEliminar)="eliminarCurso($event.index, $event.id)"
        (onVerPdf)="verPdf($event)">
      </app-seccion-cursos>

    </div> </div> </div>

